@import "tailwindcss";
@import "@nuxt/ui";

@theme {
--color-secondary:#A70A06;
--color-primary:rgb(255,255,255);
--color-text:black;
--color-dark-white:#F5F5F5;
--color-light-gray:rgb(245,245,245);
--color-dark-gray:rgb(236,236,236);
--color-footer:rgb(56,56,56);
--color-dark:rgb(69,69,69);
--color-dark-footer:rgb(47,47,47);
--color-text-gray:rgb(56,56,56);
--color-text:#525252;
--color-graish :rgb(97,97,97);
--color-semi-white:rgb(248,248,248);
 --font-mon: "Montserrat", sans-serif;
}


@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/montserrat/Montserrat-Light.otf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat/Montserrat-Regular.otf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; 
   font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/montserrat/Montserrat-Medium.otf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/montserrat/Montserrat-SemiBold.otf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/montserrat/Montserrat-Bold.otf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@layer base {
 body{
  @apply bg-white text-text font-mon ;
 }
 button{
    @apply cursor-pointer transition-colors duration-500 ease-out;
 }
 
  .overlay {
    @apply absolute inset-0 bg-black/40;
  }
  .input_wrapper input, textarea{
    @apply p-3.5 border w-full border-gray-200 rounded-md focus:outline-none focus:shadow-sm focus:border-light-gray  text-sm font-light;
  }
  .error{
    @apply text-red-500 text-xs mt-1 font-light;
  }
}

.menu::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 3px;
}

.menu::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: transparent;
}

.menu::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: #ff4949;
  border-radius: 9999px;
}

.menu::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
  background: #ff4949;
}